# Python virtual environment
.venv/
venv/

# Python cache
__pycache__/
*.pyc
*.pyo

# VS Code
.vscode/

# Environment variables / secrets
.env
.env.*
.cdsapirc

# Large raw datasets
data/raw/
*.nc
*.grib
*.grib2

# Generated processed datasets
data/processed/*.csv

# Generated prediction files
results/*.csv
!results/climateguard_dashboard_sample.csv

# OS files
.DS_Store
Thumbs.db

# Ignore large ML models
models/*.pkl

# Allow deployment-ready compressed model
!models/climateguard_random_forest_compressed.pkl
